@charset "UTF-8";
/*
Theme Name: TapLog
Theme URI: https://www.besttechbd.com
Author: Anik Ishaan
Author URI: https://facebook.com/anik.ishaan
Description: This Theme For make Blog Site If you want website for your personal blog then you can cantact with me. besttech@protonmail.com
Version: 1.0
License: All Right Reserve
License URI: https://www.besttechbd.com
Text Domain: taplog
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
$dark: #101415;
$white: #f5f6fa;
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  background-color: $white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.9;
  color: #6c757d;
}

a{
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5 {
  color: #000;
  font-family: "Lato", sans-serif;
}

.wrap {
  max-width: 1366px;
  margin: 0 auto;
  background: #f5f6fa;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  font-weight: 400;
  background: #f5f6fa !important;
  .top-bar .term ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      padding: 0 10px;
      text-align: center;
      a{
        color: $white;
        transition: all 0.4s;
        &:hover{
          padding: 5px 10px;
          background-color: #fff;
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}
header{
  &::after{
    content: '';
    display: block;
    clear: both;
  }
  .top-bar{
    .cc{
      position: relative;
      width: 90%;
      margin: auto;
    }
    .tb{
      display: flex;

      .term{
        width: 100%;
        max-width: 600px;
      }
      a.search-trigger {
        position: absolute;
        top: -10px;
        right: 0;
        color: white;
        font-size: 25px;
        width: 30px;
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
header .navbar-brand {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
  color: #f5f6fa !important;
}

header .navbar-collapse {
  position: relative;
}

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
  background: transparent !important;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.st {
  line-height: 30px;
}
@media (max-width: 767.98px) {
  header .navbar {
    background: #e6e6e6 !important;
  }
}

header .navbar .navbar-nav.absolute-right {
  position: absolute;
  right: 0;
}

@media (max-width: 991.98px) {
  header .navbar .navbar-nav.absolute-right {
    position: relative;
    right: inherit;
  }
}

header .navbar .nav-item {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header .navbar .nav-item:hover {
  background-color: #101415;
}

header .navbar .nav-item:hover .nav-link {
  color: #f5f6fa;
}

header .navbar .nav-link {
  padding: 1.7rem 1rem;
  font-size: 16px;
  outline: none !important;
  text-transform: uppercase;
  letter-spacing: .05em;
}

@media (max-width: 991.98px) {
  header .navbar .nav-link {
    padding: 1.7rem 1rem;
  }
}

@media (max-width: 767.98px) {
  header .navbar .nav-link {
    padding: .5rem 0rem;
  }
}

header .navbar .dropdown-menu {
  font-size: 14px;
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 30px 0px rgba(0, 0, 0, 0.2);
  min-width: 13em;
  margin-top: -10px;
}

header .navbar .dropdown-menu:before {
  bottom: 100%;
  left: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
}

@media (max-width: 1199.98px) {
  header .navbar .dropdown-menu:before {
    display: none;
  }
}

header .navbar .dropdown-menu .dropdown-item:hover {
  background: #101415;
  color: #f5f6fa;
}

header .navbar .dropdown-menu .dropdown-item.active {
  background: #101415;
  color: #f5f6fa;
}

header .navbar .dropdown-menu a {
  padding-top: 7px;
  padding-bottom: 7px;
}
.breadcrumbs{
  font-size: 20px;
  background-color: transparent;
  a{
    color: $dark;
    text-decoration: none;
    &:hover{
      color: $dark;
      text-decoration: none;
    }
  }
}
a.tap-trigger {
  position: fixed;
  right: 10px;
  bottom: 20px;
  background-color: transparent;
  width: 40px;
  display: inline-block;
  z-index: 130;
}

a.tap-trigger i {
  font-size: 30px;
  color: #f5f6fa;
}
.search-top{
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: black;
  display: none;
  .gsc-control-cse{
    background-color: black;
    border: none;
    padding: 0;
  }
  .gsc-search-button.gsc-search-button-v2{
    background-color: transparent;
    border: none;
    width: 35px;
    padding: 0;
    height: 40px;
    cursor: pointer;
    svg{
      width: 20px;
      height: 25px;
    }
  }
  div#gsc-iw-id1{
    border: none;
  }
  input#gsc-i-id1{
    background: transparent;
    color: $dark;
    padding: 5px 0;
  }
}
.absolute-toggle {
  position: absolute;
  left: 15px;
  top: 5px;
}

.absolute-toggle .burger-lines {
  width: 30px;
  display: inline-block;
  height: 2px;
  background: #000;
  position: relative;
}

.absolute-toggle .burger-lines:before, .absolute-toggle .burger-lines:after {
  position: absolute;
  height: 2px;
  content: "";
  background: #000;
  width: 100%;
  left: 0;
}

.absolute-toggle .burger-lines:before {
  top: -10px;
}

.absolute-toggle .burger-lines:after {
  bottom: -10px;
}

.site-logo a {
  color: #000;
  font-size: 90px;
  font-family: "PT Sans", sans-serif;
  &:hover{
    text-decoration: none;
  }
}

@media (max-width: 991.98px) {
  .site-logo a {
    font-size: 40px;
  }
}

.top-bar {
  background: #101415;
  padding: 20px 0;
}


.navbar .container > div {
  border-bottom: 1px solid #e6e6e6;
}

@media (max-width: 767.98px) {
  .navbar .container > div {
    border-bottom: none;
  }
  img.custom-logo {
    width: 330px;
    height: auto;
  }
}
@media (max-width: 470px) {
  img.custom-logo {
    width: 235px;
    height: auto;
  }
}


.a-block {
  display: block;
  background-size: cover;
  background-position: center center;
  padding: 30px 80px;
  position: relative;
  margin-bottom: 30px;
  height: 300px;
}

.a-block.sm {
  padding: 30px 30px;
}

@media (max-width: 767.98px) {
  .a-block {
    padding: 30px;
  }
}

.a-block.height-lg {
  height: 500px;
}

.a-block.height-md {
  height: 400px;
}

.a-block:before {
  background: #000;
  position: absolute;
  content: "";
  z-index: 1;
  opacity: .3;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.a-block .text {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.a-block .text.half-to-full {
  max-width: 50%;
}

@media (max-width: 767.98px) {
  .a-block .text.half-to-full {
    max-width: 100%;
  }
}

.a-block .text .post-meta {
  color: #f5f6fa;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 13px;
  margin-bottom: 30px;
}

.a-block .text .post-meta .author img {
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}


    ul.post-meta-data{
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        .com{
          display: inline-block;
          width: 40px;
          img{
            width: 20px;
            height: auto;
          }
        }
      }
    }

.a-block .text h3 a{
  color: $white;
  text-decoration: none;
}

.a-block .text p {
  color: #f5f6fa;
}

.a-block:hover:before {
  opacity: .4;
}

.bio {
  padding: 15px;
  background: #f5f6fa;
  border: 1px solid #e6e6e6;
  font-weight: 400;
}

.bio img {
  border: 4px solid #f5f6fa;
  -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
  max-width: 100px;
  margin-top: -4em;
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
}

.bio h2 {
  font-size: 20px;
  margin-top: 20px;
}
.btn-primary{
  background-color: $dark;
}
.bio .bio-body .social a {
  color: #000;
}

.site-hero {
  background-size: cover;
  background-position: center center;
  min-height: 750px;
  height: 100vh;
}

.site-hero a {
  color: #f5f6fa;
  opacity: .5;
}

.site-hero a:hover {
  opacity: 1;
}

.site-hero .post-meta {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.site-hero h1, .site-hero p {
  color: #f5f6fa;
  line-height: 1.5;
}

.site-hero h1 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 30px;
}

.site-hero .lead {
  font-size: 30px;
  color: #f5f6fa;
  opacity: .8;
  margin-bottom: 30px;
  font-weight: 300;
}

.site-hero > .container {
  position: relative;
  z-index: 2;
}

.site-hero.overlay {
  position: relative;
}

.site-hero.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-hero .site-hero-inner {
  min-height: 750px;
  height: 100vh;
}

.box {
  padding: 30px;
  background: #f5f6fa;
}

.episodes .episode a {
  color: #000;
}

.episodes .episode a:hover {
  opacity: .7;
}

.episodes .meta {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .2em;
  color: #cccccc;
}

.episodes .episode-number {
  border: 2px solid black;
  text-align: center;
  display: inline-block;
  width: 80px;
  height: 80px;
  text-transform: uppercase;
  line-height: 74px;
  border-radius: 50%;
  background: #101415;
  color: #f5f6fa;
  font-size: 30px;
}

.site-hero-innerpage, .site-hero-innerpage .site-hero-inner {
  min-height: 550px;
  height: 50vh;
}

.site-section {
  padding: 7em 0;
}

.site-section .title {
  position: relative;
  font-weight: bold;
}

.site-section .title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  background-color: #101415;
  width: 30%;
  height: 3px;
}

.site-section.py-md {
  padding: 3em 0;
}

.site-section.py-sm {
  padding: 0 0;
}
.site-section .blog-entries .main-content{

}
.school-features,
.school-instructors {
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
}

@media (min-width: 576px) {
  .school-features,
  .school-instructors {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 576px) {
  .school-features .inner,
  .school-instructors .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.school-features .feature, .school-features .instructor,
.school-instructors .feature,
.school-instructors .instructor {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .school-features .feature, .school-features .instructor,
  .school-instructors .feature,
  .school-instructors .instructor {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .school-features .feature, .school-features .instructor,
  .school-instructors .feature,
  .school-instructors .instructor {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .school-features .feature, .school-features .instructor,
  .school-instructors .feature,
  .school-instructors .instructor {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
    padding: 30px;
    border-right: 1px solid rgba(245, 246, 250, 0.1);
  }
}

.school-features .feature h3, .school-features .instructor h3,
.school-instructors .feature h3,
.school-instructors .instructor h3 {
  font-size: 18px;
  color: #f5f6fa;
}

.school-features .feature p, .school-features .instructor p,
.school-instructors .feature p,
.school-instructors .instructor p {
  color: #f5f6fa;
  opacity: .5;
}

.school-features .feature img, .school-features .instructor img,
.school-instructors .feature img,
.school-instructors .instructor img {
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.school-features .feature .icon > span:before, .school-features .instructor .icon > span:before,
.school-instructors .feature .icon > span:before,
.school-instructors .instructor .icon > span:before {
  font-size: 50px;
  margin-left: 0;
  color: #f5f6fa;
}

.school-features.text-dark.last,
.school-instructors.text-dark.last {
  border-bottom: none;
}

.school-features.text-dark.last .feature,
.school-instructors.text-dark.last .feature {
  border-bottom: none;
}

@media (min-width: 992px) {
  .school-features.text-dark .feature,
  .school-instructors.text-dark .feature {
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
}

.school-features.text-dark .feature:last-child,
.school-instructors.text-dark .feature:last-child {
  border-right: none;
}

.school-features.text-dark .feature h3,
.school-instructors.text-dark .feature h3 {
  font-size: 18px;
  color: #000;
}

.school-features.text-dark .feature p,
.school-instructors.text-dark .feature p {
  color: #000;
  opacity: .5;
}

.school-features.text-dark .feature p:last-child,
.school-instructors.text-dark .feature p:last-child {
  margin-bottom: 0;
}

.school-features.text-dark .feature .icon > span:before,
.school-instructors.text-dark .feature .icon > span:before {
  font-size: 50px;
  margin-left: 0;
  color: #101415;
}

.img-bg {
  background-size: cover;
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

.section-cover {
  background-size: cover;
  position: relative;
  background-position: top left;
}

.section-cover, .section-cover .intro {
  height: 500px;
}

.section-cover p {
  color: #f5f6fa;
}

.section-cover h2 {
  color: #f5f6fa;
}
.blog-entry{
  color: $dark;
  text-decoration: none;
  transition: all 0.7s;
  &:hover{
    color: $dark;
    text-decoration: none;
  }
}
.blog-entries .blog-entry {
  display: block;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  margin-bottom: 30px;
  position: relative;
}
.blog-entries .single-thumbnail{
  position: relative;
  margin-bottom: 3rem;
 img{
   width: 100%;
   height: auto;
 }
}
.blog-entries .blog-entry:hover, .blog-entries .blog-entry:focus {
  opacity: .7;
  top: -1px;
  -webkit-box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
}

.blog-entries .blog-entry .blog-content-body {
  padding: 20px;
  border: 1px solid #efefef;
  border-top: none;
}
.post-content-body{
  h2,h3,h4,h5,h6{
    padding: 10px 0;
  }
  *{
    color: #6c757d;
    font-weight: 400;
  }
}

.cat-tag{
  font-weight: bold;
  .for_tag{
    color: #b1b1b1;
    font-size: 20px;
    font-weight: 400;
    a{
      color: $dark;
      padding: 2px 15px;
      border: 1px solid #333333;
      border-radius: 10px;
      text-decoration: none;
      display: inline-block;
    }
  }
}
.blog-entries .blog-entry .thumbnail img {
  width: 100%;
  height: 220px;
}

.blog-entries .blog-entry h2 {
  font-size: 18px;
  line-height: 1.5;
}

.blog-entries .blog-entry p {
  font-size: 13px;
  color: gray;
}

.blog-entries .post-meta {
  margin-bottom: 20px;
  font-size: 14px;
  color: #b3b3b3;
}

.blog-entries .post-meta .author img {
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}

.instructor-meta {
  margin-bottom: 10px;
  color: #999999 !important;
}

.btn, .form-control {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 0;
}

.btn:focus, .btn:active, .form-control:focus, .form-control:active {
  outline: none;
}

.form-control {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

textarea.form-control {
  height: inherit;
}

.btn {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  padding: 8px 20px;
}

.btn.btn-black {
  background: #000;
  color: #f5f6fa;
}

.btn.btn-primary {
  color: #f5f6fa;
  border-width: 2px;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  border-color: #263032;
  background: #263032;
}

.btn.btn-sm {
  font-size: 14px;
}

.btn.btn-outline-primary {
  border-width: 2px;
  color: #101415;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active {
  color: #f5f6fa;
}

.btn.btn-outline-white {
  border-width: 2px;
  border-color: #f5f6fa;
  color: #f5f6fa;
}

.btn.btn-outline-white:hover, .btn.btn-outline-white:focus {
  background: #f5f6fa;
  color: #000;
  border-width: 2px;
}

.btn:hover {
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

.flaticon-custom {
  font-size: 70px;
}

.flaticon-custom:before, .flaticon-custom:after {
  margin-left: 0;
}

.no-nav .owl-nav {
  display: none;
}

.owl-carousel .owl-item {
  opacity: .4;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: -10px;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-prev:focus, .owl-carousel .owl-nav .owl-prev:active,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-next:active {
  outline: none;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 40px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 30px !important;
}

.owl-carousel .owl-nav .owl-next {
  right: 30px !important;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #101415;
}

.owl-carousel.home-slider {
  z-index: 1;
  position: relative;
}

.owl-carousel.home-slider .owl-nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-nav button {
  color: #f5f6fa;
}

.owl-carousel.home-slider:focus .owl-nav, .owl-carousel.home-slider:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh - 117px);
  min-height: 700px;
  position: relative;
}

.owl-carousel.home-slider .slider-item:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  content: "";
}

.owl-carousel.home-slider .slider-item .slider-text {
  color: #f5f6fa;
  height: calc(100vh - 117px);
  min-height: 700px;
}

.owl-carousel.home-slider .slider-item .slider-text .child-name {
  font-size: 40px;
  color: #f5f6fa;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 40px;
  color: #f5f6fa;
  line-height: 1.2;
  font-weight: 800 !important;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 40px;
  }
}

.owl-carousel.home-slider .slider-item .slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: white;
}

.owl-carousel.home-slider .slider-item.dark .child-name {
  color: #000;
}

.owl-carousel.home-slider .slider-item.dark h1 {
  color: #000;
}

.owl-carousel.home-slider .slider-item.dark p {
  color: #000;
}

.owl-carousel.home-slider.inner-page .slider-item {
  height: calc(50vh - 117px);
  min-height: 350px;
}

.owl-carousel.home-slider.inner-page .slider-item .slider-text {
  color: #f5f6fa;
  height: calc(50vh - 117px);
  min-height: 350px;
}

.owl-carousel.home-slider .owl-dots {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
  border: 2px solid white;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active span {
  background: white;
}

.owl-carousel.major-caousel .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.owl-carousel.major-caousel .owl-nav .owl-prev, .owl-carousel.major-caousel .owl-nav .owl-next {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  color: #495057;
}

.owl-carousel.major-caousel .owl-nav .owl-prev:hover, .owl-carousel.major-caousel .owl-nav .owl-prev:focus, .owl-carousel.major-caousel .owl-nav .owl-next:hover, .owl-carousel.major-caousel .owl-nav .owl-next:focus {
  color: #6c757d;
  outline: none;
}

.owl-carousel.major-caousel .owl-nav .owl-prev.disabled, .owl-carousel.major-caousel .owl-nav .owl-next.disabled {
  color: #dee2e6;
}

.owl-carousel.major-caousel .owl-nav .owl-prev {
  left: -60px !important;
}

.owl-carousel.major-caousel .owl-nav .owl-next {
  right: -60px !important;
}

.owl-carousel.major-caousel .owl-dots {
  bottom: -30px !important;
  position: relative;
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
}

.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}

.box {
  overflow: hidden;
  border-radius: 4px;
  display: block;
}

.box img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.box .box-body {
  padding: 20px;
  border: 1px solid #e9ecef;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.box h2 {
  font-size: 18px;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.box.hover:hover img, .box.hover:focus img {
  margin-top: -20px;
}

.box.hover:hover .box-body, .box.hover:focus .box-body {
  background: #101415;
  color: #f5f6fa;
  padding: 30px 20px;
  border-color: #101415;
}

.box.hover:hover h2, .box.hover:focus h2 {
  color: #f5f6fa;
}

.breadcrumb-custom {
  background: none;
  padding: 0;
}

.breadcrumb-custom li a {
  color: #101415;
}

.breadcrumb-custom li a:hover {
  color: #f5f6fa;
}

.breadcrumb-custom li.active {
  color: #f5f6fa;
}

.breadcrumb-custom li.breadcrumb-item + .breadcrumb-item:before {
  content: "/";
  color: rgba(255, 255, 255, 0.3);
}

.children-info li {
  display: block;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #dee2e6;
}

.sidebar {
 padding-bottom: 30px;
  li{
    list-style-type: none;
  }
  .heading {
    font-size: 18px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
  }
  .widget_tag_cloud{
    .tagcloud a {
      color: $dark;
      padding: 5px 10px;
      margin: 2px 0 0 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      text-decoration: none;
      display: inline-block;
      font-size: 15px !important;
      &:hover{
        background-color: $dark;
        color: $white;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    padding-left: 15px;
  }
}

.sidebar-box {
  margin-bottom: 4em;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #f5f6fa;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.sidebar-box .heading {
  font-size: 18px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.tags {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.tags li {
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
  display: inline-block;
}

.tags li a {
  float: left;
  display: block;
  border-radius: 4px;
  padding: 2px 6px;
  color: gray;
  background: #f2f2f2;
}

.tags li a:hover {
  color: #f5f6fa;
  background: #101415;
}

#page-pagination {
  margin-bottom: 5em;
  text-align: center !important;
  display: block;
  .current{
    padding: 10px 15px;
    background-color: $dark;
    color: $white;
  }
  a{
    background-color: transparent;
    color: $dark;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #dddddd;
    &:hover{
      background-color: $dark;
      color: $white;
    }
  }
}


.categories, .sidelink {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.categories li, .sidelink li {
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}

.categories li:last-child, .sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.categories li a, .sidelink li a {
  display: block;
  font-size: 16px;
}

.categories li a span, .sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.categories li a:hover span, .sidelink li a:hover span {
  color: #000;
}

.categories li.active a, .sidelink li.active a {
  color: #000;
  font-style: italic;
}
li.cat-item {
  text-align: right;
  color: #ccc;
  a {
    display: inline-block;
    float: left;
    color: $dark;
    &:hover{
      text-decoration: none;
    }
  }
}

.cat a,span.cats{
    display: inline-block;
    background: #101415;
    padding: 2px 8px;
    line-height: 1.5;
    font-size: 12px;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #f5f6fa !important;
    margin-right: 10px;
    letter-spacing: .2em;
    &:hover{
      text-decoration: none;
    }
}

.cover_1 {
  background-size: cover;
  background-position: center center;
  padding: 7em 0;
}

.cover_1 .sub-heading {
  color: rgba(255, 255, 255, 0.7);
  font-size: 22px;
}

.cover_1 .heading {
  font-size: 50px;
  color: white;
  font-weight: 300;
}

.heading {
  color: #000;
}

.heading.border-bottom {
  position: relative;
  padding-bottom: 30px;
}

.heading.border-bottom:before {
  bottom: 0;
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #101415;
}

.text-black {
  color: #000 !important;
}

.stretch-section .video {
  display: block;
  position: relative;
  -webkit-box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5);
}

.nav-links{
  &::after{
    content: "";
    display: block;
    clear: both;
  }
  .nav-next,.nav-previous{
    a{
      color: $dark;
      text-decoration: none;
    }

  }
  .nav-previous{
    width: 48%;
    float: left;
  }
  .nav-next{
    width: 48%;
    float: right;
  }
}
.post-navigation{
  margin-top: 30px;
  h2{
    display: none;
  }
}
.media-feature {
  padding: 30px;
  -webkit-transition: .2s all ease-out;
  transition: .2s all ease-out;
  background: #f5f6fa;
  z-index: 1;
  position: relative;
  border-bottom: 10px solid transparent;
  border-radius: 4px;
  font-size: 15px;
}

.media-feature .icon {
  font-size: 60px;
  color: #101415;
}

.media-feature h3 {
  font-size: 16px;
  text-transform: uppercase;
}

.media-feature:hover, .media-feature:focus {
  -webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 2;
  border-bottom: 10px solid #101415;
}

.media-custom {
  background: #f5f6fa;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  margin-bottom: 30px;
  position: relative;
  top: 0;
}

.media-custom .meta-post {
  color: #ced4da;
  font-size: 13px;
  text-transform: uppercase;
}

.media-custom > a {
  position: relative;
  overflow: hidden;
  display: block;
}

.media-custom .meta-chat {
  color: #ced4da;
}

.media-custom .meta-chat:hover {
  color: #6c757d;
}

.media-custom img {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.media-custom:focus, .media-custom:hover {
  top: -2px;
  -webkit-box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
}

.media-custom:focus img, .media-custom:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.media-custom .media-body {
  padding: 30px;
}

.media-custom .media-body h3 {
  font-size: 20px;
}

.media-custom .media-body p:last-child {
  margin-bottom: 0;
}

#accordion .card {
  font-size: 15px;
  border-color: #dee2e6;
}

#accordion .card h5 a {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #101415;
  position: relative;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
  border-radius: 0;
}

#accordion .card h5 a .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

#accordion .card h5 a:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

#accordion .card h5 a.collapsed {
  color: #000;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#accordion .card h5 a.collapsed .icon {
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#accordion .card h5 a.collapsed:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

#accordion .card .card-body {
  padding-top: 15px;
}

.testimonial {
  font-size: 30px;
  color: #000;
}

.media-testimonial img {
  width: 100px;
  border-radius: 50%;
}

.media-testimonial blockquote p {
  font-size: 20px;
  color: #000;
  font-style: italic;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
  .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
  }
  li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
    .vcard {
      width: 80px;
      float: left;
      img {
        width: 50px;
        height: auto;
        border-radius: 50%;
      }
    }

    .comment-body {
      float: right;
      width: calc(100% - 80px);
      .comment-meta{}
      h3.user-name {
        font-size: 20px;
        a{
          color: $dark;
          text-decoration: none;
        }
      }
      .meta {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .1em;
        color: #ccc;
      }
.comment-content{
  p{
    font-size: 18px;
    font-family: "Lato", sans-serif;
  }
}
   .list-inline .reply-link {
        .comment-reply-link {
          padding: 5px 10px;
          background: #e6e6e6;
          color: #000;
          text-transform: uppercase;
          font-size: 14px;
          text-decoration: none;
          &:hover{
            color: #000;
            background: #c6c6c6;
          }
        }
      }

    }

  }
}



.post-entry-horzontal {
  margin-bottom: 30px;
  .b{
    transition: all 0.5s;
    &:hover {
      top: -3px;
      -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    }
    .meta-data {
      padding: 30px;
      border: 1px solid #e3e3e1;
      border-left: none;
      .post-meta{
        font-size: 14px;
        color: #b3b3b3;
      }
      h2{
        font-size: 20px;
        a{
          color: $dark;
          text-decoration: none;
        }
      }
    }
  }
}


@media (max-width: 767.98px) {
  .post-entry-horzontal a .image, .post-entry-horzontal a .text {
    display: block;
  }
}

.post-entry-sidebar .post-meta {
  font-size: 14px;
  color: #b3b3b3;
}

.post-entry-sidebar ul {
  padding: 0;
  margin: 0;
}

.post-entry-sidebar ul li {
  list-style: none;
  padding: 0 0 10px 0;
}

.post-entry-sidebar ul li div {
  display: table;
}

.post-entry-sidebar ul li div img {
  width: 90px;
  height: 60px;
}

.post-entry-sidebar ul li div img, .post-entry-sidebar ul li div .text {
  display: table-cell;
  vertical-align: middle;
}

.post-entry-sidebar ul li div .text h4 {
  font-size: 18px;
  color: $white;
  a{
    text-decoration: none;
    color: $dark;
  }
}

.search-form-wrap {
  margin-bottom: 5em;
  display: block;
}
// those style for wp comment form
#respond{
  .logged-in-as{
    a{
      color: #6c757d;
      text-decoration: none;
      font-size: 22px;
    }
  }
  #commentform{
    label{
      font-size: 20px;
      color: #6c757d;
    }
    input[type=text],input[type=email]{
      height: 40px;
    }
    input[type=text],input[type=email],textarea{
      width: 100%;
      border: 1px solid #ced4da;
      outline: none;
      transition: all 0.5s;
      &:focus{
        border: 1px solid $dark;
        box-shadow: 0 0 5px $dark;
      }
    }
    input[type=submit]{
      background-color: $dark;
      color: white;
      border: none;
      outline: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.6s;
      &:hover{
        background-color: lighten($dark,15);
      }
    }
  }
}

blockquote {
  padding-left: 30px;
  border-left: 10px solid #e6e6e6;
}

blockquote p {
  font-size: 18px;
  font-style: italic;
  color: #000;
}

.list-unstyled.check li {
  position: relative;
  padding-left: 30px;
  line-height: 1.3;
  margin-bottom: 10px;
}

.list-unstyled.check li:before {
  color: #17a2b8;
  left: 0;
  font-family: "Ionicons";
  content: "\f122";
  position: absolute;
}

#modalAppointment .modal-content {
  border-radius: 0;
  border: none;
}

#modalAppointment .modal-body, #modalAppointment .modal-footer {
  padding: 40px;
}

.overflow {
  position: relative;
  overflow-x: hidden;
}

.site-footer {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 5em 0;
  background: #101415;
  a{
    color: $white;
    &:hover{
      text-decoration: none;
      color: #6c757d;
    }
  }
}

.sidebar-box .post-entry-sidebar ul li div .text h4 {
  color: $dark;
  a{
    color: $dark;
    transition: all 0.2s;
    &:hover{
      color: #6c757d;
      font-weight: bold;
    }
  }
}
.site-footer .post-entry-sidebar ul li a h4 {
  color: #f5f6fa;
}
.post-entry-sidebar ul li div .text h4 a{
  color: $white;
}
.site-footer .footer-social li a > span {
  width: 30px;
}

.site-footer a {
  color: #f5f6fa;
}

.site-footer a:hover {
  opacity: .5;
}

.site-footer h3 {
  color: #f5f6fa;
  margin-bottom: 30px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.site-footer p {
  color: rgba(245, 246, 250, 0.5);
}

.blog-entry-footer .post-meta {
  color: white;
  font-size: 15px;
}

.border-t {
  border-top: 1px solid #f8f9fa;
}

.copyright {
  font-size: 14px;
}

.element-animate {
  opacity: 0;
  visibility: hidden;
}

#loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000;
}

#loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
          transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
          animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
          animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1b2223;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}
.not-found{
  width: 100%;
  height: 100%;
  padding: 0 0 40px 0;
  .content{
    *{
      transition: all 1s;
    }
    h1{
      font-size: 300px;
      text-align: center;
      .first{
        color: #5517b8;
      }
      .second{
        color: rgb(39, 52, 243);
      }
      i{
        color: crimson;
        font-size: 270px;
      }
    }
    h3{
      font-size: 80px;
      color: crimson;
      text-align: center;
    }
  }
  p{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    a{
      color: crimson;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
@media (max-width: 700px){
  .not-found{
    .content{
      h1{
        font-size: 200px;
        i{
          font-size: 170px;
        }
      }
      h3{
        font-size: 55px;
      }
    }
  }
}
@media (max-width: 450px){
  .not-found{
    .content{
      h1{
        font-size: 180px;
        i{
          font-size: 150px;
        }
      }
      h3{
        font-size: 50px;
      }
    }
  }
}
.gallery-caption{
  text-align: center;
}
.bypostauthor {
  font-weight: bold;
}

/* =WordPress Default Core Style
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
border: 0;
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute !important;
width: 1px;
word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
background-color: #eee;
clip: auto !important;
clip-path: none;
color: #444;
display: block;
font-size: 1em;
height: auto;
left: 5px;
line-height: normal;
padding: 15px 23px 14px;
text-decoration: none;
top: 5px;
width: auto;
z-index: 100000;
/* Above WP toolbar. */
}

/*# sourceMappingURL=style.css.map */